@media (prefers-color-scheme: dark) {
  #githubLogo {
    filter: invert(100%);
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  padding-top: 4rem;
}

#jsonEditor {
  height: 75vh;
  width: 100%;
  z-index: 0;

  /* copied from bootstrap `form-control` class */
  display: block;
/*width: 100%;*/
  padding: .375rem .75rem;
/*font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;*/
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
